---
layout: default
title: Envoy Community
---
<div class="section">
  <div class="section-heading">
      <span>Envoy Community</span>
  </div>

  <div class="section-content">
    <div>
      <p>
        The Envoy project is the base for many other open source projects and commercial offerings.
      </p>
    </div>
    <div>
      <a class="btn" href="#cncf-projects">
        View CNCF Projects
      </a>
      <a class="btn" href="#open-source-projects">
        View other OSS Projects
      </a>
      <a class="btn" href="#commercial-offerings">
        View Commercial Offerings
      </a>
    </div>

  </div>
</div>

{% include common/community-card.html title="CNCF Projects" type="cncf" id="cncf-projects" %}

{% include common/community-card.html title="Open Source Projects" type="oss" id="open-source-projects" %}

{% include common/community-card.html title="Commercial Offerings" type="commercial" id="commercial-offerings" %}
