---
layout: default
title: Envoy Training
---
<div class="section">
    <div class="section-heading">
        <span>Courses</span>
    </div>
  
    <div class="section-content">
      <div>
        <a class="btn" href="#proxy">
          View Envoy Proxy Training
        </a>
        <a class="btn" href="#gateway">
            View Envoy Gateway Training
        </a>
      </div>
  
    </div>
  </div>

{% assign training = site.training | where: "project", "proxy" %}
{% include common/feature-cards.html title="Envoy Proxy Training" group=training id="proxy" %}

{% assign training = site.training | where: "project", "gateway" %}
{% include common/feature-cards.html title="Envoy Gateway Training" group=training id="gateway" %}
  