{% extends "base.html" %}
{% import 'macros/project.html' as project %}
{% set projects = yaml_data['projects'] %}

{% block banner %}

<div class="page-header" role="banner">
    <div class="header-content">
        <div class="header-text">
        <h1 class="project-name">Manage traffic, <span class="pink-font">everywhere</span></h1>
        <h2 class="project-tagline">
            Connect your Applications and APIs with scale and resiliency using Envoy.<br/><br/>
            The Envoy Project provides you with solutions that allow you to control, secure, and observe API and Application traffic.
        </h2>
        </div>
        <div class="header-logo">
        <img src="/theme/images/envoy-graphic.png" alt="">
        </div>
    </div>
    <div class="center-horizontal" id="adopter-feature">
        <h2 class="pink-font">Trusted by</h2>
        <div class="logos">
        <img src="theme/logos/trusted-by/airbnb.svg"/>
        <img src="theme/logos/trusted-by/booking.svg"/>
        <img src="theme/logos/trusted-by/dropbox.svg"/>
        <img src="theme/logos/trusted-by/google.svg"/>
        <img src="theme/logos/trusted-by/reddit.svg"/>
        <img src="theme/logos/trusted-by/netflix.svg"/>
        </div>
        <h3>and many more</h3>
    </div>
</div>
  
{% endblock banner %}

{% block content %}
<div class="section projects">
    <div class="section-heading">
      <span>Open Source <span class="pink-font">Tools</span></span>
    </div>
    <div class="section-content">
        <div class="flex-center">
            {% block projects %}
                {{ project.feature(projects['proxy'], 1) }}
                {{ project.feature(projects['gateway'], 0) }}
                {{ project.feature(projects['ai-gateway'], 1) }}
                {{ project.feature(projects['mobile'], 0) }}
            {% endblock %}
        </div>
    </div> 
</div>


{% endblock %}
