{% extends "base.html" %}
{% import 'macros/hero.html' as hero %}
{% import 'macros/adopters.html' as feature_adopters %}
{% set project = yaml_data['projects'][page.id] %}
{% set adopters = yaml_data['adopters'] %}
{% set github_url = 'https://github.io/envoyproxy/' + project.github %}

{% block banner %}
    {{ hero.hero(project.name, project.github, project.description, github_url, project.docs) }}
{% endblock banner %}

{% block content %}
    <div class="intro">
        {% block intro %}
        {% endblock intro %}
    </div>
    <div class="capabilities">
        <h2>Capabilities</h2>
        <ul>
            {% for capability in project.capabilities %}
                <li>{{ capability.name }} - {{ capability.description }}</li>
            {% endfor %}
        </ul>
    </div>
    {{ feature_adopters.adopters(project, adopters) }}
{% endblock %}
