{% extends "base.html" %}
{% import 'macros/hero.html' as hero %}
{% import 'macros/project.html' as project_macros %}
{% import 'macros/adopters.html' as feature_adopters %}
{% set project = yaml_data['projects'][page.id] %}
{% set adopters = yaml_data['adopters'] %}
{% set github_url = 'https://github.io/envoyproxy/' + project.github %}
{% set body_class = "project-page" %}

{% block banner %}
    {{ project_macros.render_project_header(project) }}
{% endblock banner %}

{% block content %}
    <div class="intro">
        {% block intro %}
        {% endblock intro %}
    </div>
    {{ project_macros.capabilities_section('section-purple', 'Capabilities', project.capabilities) }}
    {% if page.feature_adopters %}
        {{ feature_adopters.adopters(project, adopters) }}
    {% endif %}
{% endblock %}
