<div id="{{ include.id }}"></div>
<div class="section">
    <div class="section-heading">
        <a href="#{{ include.id }}"><span>{{ include.title }}</span></a>
    </div>

    <div class="section-content cards">

        {% assign members = site.community | where: "type", include.type %}

        {% for member in members %}
        <article class="information card">
            <div>
                <img src="{{ member.logo }}" alt="{{ member.name }}"/>
            </div>
            <div>
                <span class="tag {{ member.type }}">{{ member.type | upcase }}</span>
                <h2 class="title">{{ member.name }}</h2>
                <span class="info">
                    {{ member.content }}
                </span>
                <a class="button" href="{{ member.learn_more }}" target="_blank">
                    <span>Learn more</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                    </svg>
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
</div>

<style>

    @import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");
    *,
    *:after,
    *:before {
      box-sizing: border-box;
    }
    
    :root {
      --c-white: #fff;
      --c-black: #000;
      --c-ash: #eaeef6;
      --c-charcoal: #a0a0a0;
      --c-void: #141b22;
      --c-fair-pink: #FFEDEC;
      --c-apricot: #FBC8BE;
      --c-coffee: #754D42;
      --c-del-rio: #917072;
      --c-java: #1FCAC5;
      --c-titan-white: #f1eeff;
      --c-cold-purple: #a69fd6;
      --c-indigo: #6558d3;
      --c-governor: #4133B7;
    }
    
    body {
        background-color: var(--c-ash);
    }
    
    .cards {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;
      width: 90%;
      max-width: 1000px;
      margin: 10vh auto;
    }
    
    .card {
      border-radius: 16px;
      box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      justify-content: space-around;
    }
    
    .card img {
      height: 200px;
      object-fit: contain;
      padding: 1rem 2rem;
    }
    
    .information {
      background-color: var(--c-white);
      padding: 1.5rem;
    }
    .information .tag {
      display: inline-block;
      font-weight: 600;
      font-size: 0.875rem;
      padding: 0.5em 0.75em;
      line-height: 1;
      border-radius: 6px;
    }
    
    .information .cncf{
      background-color: var(--c-titan-white);
      color: var(--c-indigo);
    }
    
    .information .oss{
      background-color: #ffd7f2;
      color: #DC3AA7;
    }
    
    .information .commercial{
      background-color: #bdeeee;
      color: #1aa0a0;
    }
    
    .information .title {
      font-size: 1.5rem;
      line-height: 1.25;
      margin-top: 0.5rem;
    }
    .information .title + * {
      margin-top: 1rem;
    }
    .information .info {
      color: var(--c-charcoal);
      height: 17rem;
      display: block;
    }
    
    .information .button {
      font: inherit;
      line-height: 1;
      background-color: var(--c-white);
      border: 2px solid var(--c-indigo);
      color: var(--c-indigo);
      padding: 0.5em 1em;
      border-radius: 6px;
      font-weight: 500;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
    }
    .information .button:hover, .information .button:focus {
      background-color: var(--c-indigo);
      color: var(--c-white);
    }
    .information .details {
      display: flex;
      gap: 1rem;
    }
    .information .details div {
      padding: 0.75em 1em;
      background-color: var(--c-titan-white);
      border-radius: 8px;
      display: flex;
      flex-direction: column-reverse;
      gap: 0.125em;
      flex-basis: 50%;
    }
    .information .details dt {
      font-size: 0.875rem;
      color: var(--c-cold-purple);
    }
    .information .details dd {
      color: var(--c-indigo);
      font-weight: 600;
      font-size: 1.25rem;
    }
    </style>
    