<div id="{{ include.id }}"></div>
<div class="section community-features section-purple">
    <div class="section-heading">
        <a href="#{{ include.id }}"></a><span>{{ include.title }}</span>
    </div>

    <div class="section-content cards">
        {% for member in include.group %}
        <article class="information card">
            <div>
                <img src="{{ member.logo }}" alt="{{ member.name }}"/>
            </div>
            <div>
                {% if member.type %}
                  <span class="tag {{ member.type }}">{{ member.type | upcase }}</span>
                {% endif %}
                <h2 class="title">{{ member.name }}</h2>
                <span class="info">
                    {{ member.content }}
                </span>
                {% if member.learn_more %}
                  <a class="button" href="{{ member.learn_more }}" target="_blank">
                    {% if member.cta %}
                        <span>{{ member.cta }}</span>
                    {% else %}
                        <span>Learn more</span>
                    {% endif %}  
                      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="none">
                          <path d="M0 0h24v24H0V0z" fill="none" />
                          <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
                      </svg>
                  </a>
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </div>
</div>
