---
layout: default
title: Envoy Community
permalink: /community
---

<div class="section">
  <div class="section-heading">
      <span>Envoy Community</span>
  </div>

  <div class="section-content flex-center">
    <div class="text">
      <p>
        The Envoy project is the base for many other open source projects and commercial offerings.
      </p>
    </div>

    <div>
      <a class="btn" href="#cncf-projects">
        View CNCF Projects
      </a>
      <a class="btn" href="#open-source-projects">
        View other OSS Projects
      </a>
      <a class="btn" href="#commercial-offerings">
        View Commercial Offerings
      </a>
    </div>

  </div>
</div>

<!-- CNCF Projects -->
{% assign cncf = site.community | where: "type", "cncf" %}
{% include common/feature-cards.html title="CNCF Projects" group=cncf type="cncf" id="cncf-projects" %}

<!-- Open Source Projects -->
{% assign oss = site.community | where: "type", "oss" %}
{% include common/feature-cards.html title="Open Source Projects" group=oss type="oss" id="open-source-projects" %}

<!-- Commercial Products & Services -->
{% assign commercial = site.community | where: "type", "commercial" %}
{% include common/feature-cards.html title="Commercial Offerings" group=commercial type="commercial" id="commercial-offerings" %}
