{% macro adopters(project, adopters) -%}
<div class="section flex-center adopters">
    <div class="section-heading">
        <h1>Used By</h1>
    </div>
    <div class="section-content">
        <div class="adopters-grid">
            {% for adopter in adopters %}
                {% set company = adopters[adopter] %}
                {% if project.id in company.projects %}
                    <div class="adopter-card">
                    <div class="adopter-name">
                        <span>{{ company.name }}</span>
                    </div>
                    <div class="adopter-logo">
                        <a href="{{ company.url }}" target="_blank">
                            <img src="/theme/logos/{{ company.logo }}" alt="{{ adopter.name }}">
                            </a>
                    </div>
                    </div>
                {% endif %}
            {% endfor %}
          </div>
    </div>
</div>
{%- endmacro %}
