{% macro adopters(project, adopters) -%}
<div class="section flex-center adopters">
    <div class="section-heading">
        <span>Used By</span>
    </div>
    <div class="section-content">
        <div class="adopters-grid">
            {% for adopter in adopters %}
                {% set company = adopters[adopter] %}
                <div class="adopter-card">
                  <div class="adopter-name">
                      <span>{{ company.name }}</span>
                  </div>
                  <div class="adopter-logo">
                      <a href="{{ company.url }}" target="_blank">
                          <img src="/theme/logos/{{ company.logo }}" alt="{{ adopter.name }}">
                        </a>
                  </div>
                </div>
            {% endfor %}
          </div>
    </div>
</div>
{%- endmacro %}
