{% macro training(courses) -%}
    {% for course in courses %}
        <p>
            {{ courses[course].name }}
        </p>
    {% endfor %}
{%- endmacro %}

{% macro commercial(commercial) -%}
    {% for solution in commercial %}
        <p>
            {{ open_source[solution].name }}
        </p>
    {% endfor %}
{%- endmacro %}

{% macro open_source(open_source) -%}
    {% for solution in open_source %}
    <p>
        {{ open_source[solution].name }}
    </p>
    {% endfor %}
{%- endmacro %}
