{% macro render_release_grid(title, versions) %}
<div class="section section flex-center release-grid">
    <div class="section-heading">
        <span>{{ title }}</span>
    </div>

    <div class="section-content dark-text">
        <div class="versions">
            {% for version_group in versions %}
            <div class="version-group">
                <div class="release-list">
                    {% for release in version_group.releases %}
                    {% if loop.first %}
                    <div class="latest-release">
                        <span class="heading">
                            <strong>{{ version_group.version }}</strong>
                            <span class="pill release-number">{{ release.release }}</span>
                            {% if release.stable %}
                            <span class="pill stable">Stable</span>
                            {% endif %}
                        </span>
                        <div class="release-item">
                            <p class="release-link">
                                <a href="{{ release.url }}" target="_blank">
                                    <svg class="link-icon" width="24" height="20" viewBox="0 0 24 20" fill="none" variant="light">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M2.65731..."></path>
                                    </svg>
                                    {{ release.release }}
                                </a>
                                <span class="release-date">
                                    {{ release.published_at }}
                                </span>
                            </p>
                            <p class="release-link">
                                <a href="/docs/envoy/{% if version_group.version != 'development' %}v{% endif %}{{ release.release }}/" target="_blank">
                                    <span class="link-icon material-symbols-outlined">
                                        docs
                                    </span>
                                    <span>View Docs</span>
                                </a>
                            </p>
                        </div>
                        {% if version_group.releases|length > 1 %}
                        <div class="toggle-wrapper" onclick="toggleReleases(this)">
                            <button class="toggle-releases" aria-label="Toggle previous releases"></button>
                            <span class="toggle-text">Previous releases</span>
                        </div>
                        {% else %}
                        No previous releases
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="release-item hidden-release previous" style="display: none;">
                        <span class="release-date">{{ release.published_at }}</span>
                        <br />
                        <p class="release-link">
                            <a href="{{ release.url }}">
                                <svg class="link-icon" width="24" height="20" viewBox="0 0 24 20" fill="none" variant="light">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.65731 5.88048..."></path>
                                </svg>
                                {{ release.release }}
                            </a>
                        </p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}
