@use "variables";

@mixin large {
  @media screen and (min-width: #{variables.$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{variables.$medium-breakpoint}) and (max-width: #{variables.$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{variables.$medium-breakpoint}) {
    @content;
  }
}


.loader {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #6f52ce; /* Blue */
  border-radius: 50%;
  width: 1.4rem;
  height: 1.4rem;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner {
  display: none;
  justify-content: center;
  align-items: center;
}

footer {
    background-color: variables.$footer-bg-color; // Dark background for contrast
    color: variables.$light-purple; // White text for readability
    padding: 1rem 1rem;
    text-align: left;
  
    a {
      text-decoration: none;
      color: variables.$footer-link-color;
  
      &:hover {
        text-decoration: underline; // Underline on hover
      }
    }

    h3 {
      color: variables.$light-purple;
    }

    .row {
      display: flex;

      @include small {
        flex-direction: column;
      }
    }

    .column {
      flex: 100%;
    }

    .column50 {
      flex: 50%;
    }

    .column60 {
      flex: 60%;
    }

    .column40 {
      flex: 40%;
    }

    .invite {
      border-bottom: 1px solid #502868;
    }

    .details {
      font-size: 0.8rem;
      color: variables.$footer-details-color;
      padding: 1rem 0;
    }
  
    // Top Section - Quick Links
    .footer-top {
      gap: 3rem;
      padding: 1rem 2rem;
      display: flex;
      justify-content: center;
      margin: 0 auto;

      @include large {
        flex-direction: row;
        max-width: 70rem;
      }

      @include medium {
        flex-direction: row;

      }

      @include small {
        flex-direction: column;
      }

      .quick-links {
        list-style: none;
        padding: 0;
        justify-content: left;
  
        li {
          margin: 0 15px;
  
          a {
            font-size: 14px;
            transition: color 0.3s ease;
  
            &:hover {
              color: variables.$body-link-color; // Slightly lighter shade on hover
            }
          }
        }
      }
    }

    form {
      margin: 1rem 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;

      @include large {
        flex-direction: row;
        width: 25rem;
      }

      @include medium {
        flex-direction: row;
        width: 25rem;
      }

      @include small {
        flex-direction: column;
      }

      input[type="email"] {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 250px;
        max-width: 100%;

        &:focus {
          border: 1px solid rgb(251, 5, 239);
        }
      }

      .btn {
        padding: 0.75rem;
        font-size: 0.9rem;
      }
    }

    #response-message {
      height: 3rem;
    }
  
  }
