<div class="page-header" role="banner">
    <div class="header-content">
      <div class="header-text">
        <h1 class="project-name">Manage traffic, <span class="pink-font">everywhere</span></h1>
        <h2 class="project-tagline">
          Connect your Applications and APIs with scale and resiliency using Envoy.<br/><br/>
          The Envoy Project provides you with solutions that allow you to control, secure, and observe API and Application traffic.
        </h2>
      </div>
      <div class="header-logo">
        <img src="/assets/envoy-graphic.png" alt="">
      </div>
    </div>
    <div class="center-horizontal" id="adopter-feature">
      <h2 class="pink-font">Trusted by</h2>
      <div class="logos">
        <img src="logos/trusted-by/airbnb.svg"/>
        <img src="logos/trusted-by/booking.svg"/>
        <img src="logos/trusted-by/dropbox.svg"/>
        <img src="logos/trusted-by/google.svg"/>
        <img src="logos/trusted-by/reddit.svg"/>
        <img src="logos/trusted-by/netflix.svg"/>
      </div>
      <h3>and many more</h3>
    </div>
  </div>
